 body{
    display: flex;
   justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parent{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
} 
img{
    width: 100%;
}
.parent_2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.parent_3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
 
}
.parent_4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    display: flex;
   flex-wrap: wrap;
   width: 30%;
   justify-content: center;
    align-items: center;
    gap: 20px;
}
.box >div{
   justify-content: center;
    align-items: center;
    width:30%;
 

}
.surya,.raju{
    display: flex;
    justify-content: center;
    align-items: center;
}
